<div class="container" style="display: flex">
    <div class="card-items">
        <div class="card card-item">
            <div class="card-body" style="text-align: center">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Des</p>
                <p class="card-text">Price</p>
                <a href="#" class="btn btn-primary" style="width: 100px">Buy</a>
            </div>
        </div>
        <div class="card" style="
        width: 18rem;
        margin-top: 40px;
        justify-content: space-between;
        margin-left: 20px;
      ">
            <div class="card-body" style="text-align: center">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Des</p>
                <p class="card-text">Price</p>
                <a href="#" class="btn btn-primary" style="width: 100px">Buy</a>
            </div>
        </div>
        <div class="card" style="
        width: 18rem;
        margin-top: 40px;
        justify-content: space-between;
        margin-left: 20px;
      ">
            <div class="card-body" style="text-align: center">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Des</p>
                <p class="card-text">Price</p>
                <a href="#" class="btn btn-primary" style="width: 100px">Buy</a>
            </div>
        </div>
    </div>
</div>